<li>
  <%= course.title %>

  <p>
    <strong>status:</strong>
    <%= course.status %>
  </p>

  <%= link_to t("courses.course.view_detail"), course, class: "btn btn-primary btn-sm" %> 

  <% if logged_in? && current_user.admin? %>
    <%= link_to t("courses.course.update_course"), edit_course_path(course), class: "btn btn-primary btn-sm"  %> |
    <%= link_to t("courses.course.delete_course"), course_path(course.id), method: :delete,data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
  <% end %>
</li>
