<%= form_for @course do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, t "courses.error") %>
        <%= t"courses.description"%> 
      </h2>

      <ul>
        <% @course.errors.full_messages.each do |message| %>
        <li><%= t "courses.message" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
