<% provide :title, @course.title %>

<div>
  <div>
    <h1>
      <b><%= t"courses.show.course" %></b>
      <%= @course.title %>
    </h1>

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h4>
            <b><%= t "courses.show.status" %></b>
            <%= @course.status %><br><br>

            <b><%= t "courses.show.start" %></b>
            <%= @course.started_at %><br><br>

            <b><%= t "courses.show.member" %></b>
            <%= @course.member %><br><br>

            <b><%= t "courses.show.description" %></b>
            <%= @course.description %>
          </h4>
        </div>

        <div class="col-md-6">
          <h4>
            <b><%= t "courses.show.duration" %></b>
            <%= @course.total_month %><%= t "courses.show.month" %>
          </h4>
        </div>
      </div>
    </div>
    <%= link_to t("courses.show.registers"), new_course_register_path(@course) %> |
    <%= link_to t("courses.show.reviews"), new_course_review_path(@course) %> |
  </div>
    <% if current_user.admin? %>
      <%= link_to t("courses.show.admin.update"), edit_course_path %> |
    <% end %>
    <%= link_to t("courses.show.admin.view"), courses_path %>
    <p><%= t "courses.show.admin.review" %></p>

    <%= render @course.reviews %>

    <% if current_user.admin? %>
      <p><%= t"courses.show.admin.pending" %></p>
      <%= render @course.registers.pending %>
    <% end %>
</div>
