<% provide :title, @course %>
<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1><%= t "courses.show.course"  %></h1>
    <% if @course.try(:user).try(:id) == current_user.try(:id) && current_user.try(:usertype)  == 2 %>
	  <span><%= link_to t("courses.show.edit"), edit_course_path(@course) ,class: "btn btn-primary btn-lg homebuttons" %></span> 
	  <span><%= link_to t("courses.show.lecture"), new_lecture_path(@course) ,class: "btn btn-danger btn-lg homebuttons" %> </span>
    <% end %>
  <span><%= link_to t("courses.show.back"), courses_path ,class: "btn btn-primary btn-lg homebuttons" %></span>
</div>
