<% provide :title, @coursetitle %>

<div>
  <div>
    <h1>
      <b><%= t"courses.show.course" %></b>
      <%= @coursetitle %>
    </h1>

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h4>
            <b><%= t "courses.show.status" %></b>
            <%= @coursestatus %><br><br>

            <b><%= t "courses.show.start" %></b>
            <%= @coursestarted_at %><br><br>

            <b><%= t "courses.show.member" %></b>
            <%= @coursemember %><br><br>

            <b><%= t "courses.show.description" %></b>
            <%= @coursedescription %>
          </h4>
        </div>

        <div class="col-md-6">
          <h4>
            <b><%= t "courses.show.duration" %></b>
            <%= @coursetotal_month %><%= t "courses.show.month" %>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
